@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900@display=swap');

:root {
    --bg-color: #000;
    --header-background-color: #fff;
    /* Change this to white */
    --hover-color: rgba(0, 0, 0, 1);
    --btn-color: rgb(41, 99, 215);
    --font-color: #fff;
    --box-shadow: 0 .3rem 1.5rem #d9dadc;
    --h2-font: 3rem;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    background: var(--bg-color);
    background-size: auto;
}



/* Container for team members */
.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #e1e5e7;

}

/* Styling for individual team members */
.team-member {
    flex: 0 0 calc(33.33% - 16px);
    margin-bottom: 16px;
    padding: 8px;
    box-shadow: 0 4px 8px 0 b;
    transition: transform 0.2s;
    border-radius: 35px;

    /* filter: grayscale(100%); */
}

.team-member:hover {
    transform: translateY(-5px);

}

/* Image styling */
.team-member img {
    width: 95%;
    border-radius: 35px;
}

/* Team member name and title styling */
.team-member-info {
    text-align: center;
    font-size: medium;

}

.team-member-info p button {
    border-radius: 30px;
}

/* Add styling for the about section */
.about {
    /* margin-top: 80px; */
    height: 100vh;
    background: #000;
}

.about .intro {
    /* height: 100vh; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('home-page-cover.jpg');
    background-size: cover;
}

.about .intro h1 {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--font-color);
    font-size: 54px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}


.about .intro h3 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #6e6e73;
    font-size: 30px;
}

.about .about-desc {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--font-color);
    font-size: 22px;
    text-align: justify;
}

.about .content {
    height: 100vh;
}

/* Styling for the "Contact" button */
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #32393d;
    text-align: center;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;

}

.button:hover {
    background-color: #555;
}