@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900@display=swap');

:root {
  /* --bg-color: #0B0C10; */
  /* --blue: #66FCF1; */
  --bg-color: #000;
  --header-background-color: rgba(251, 251, 253, .8);
  --hover-color: rgba(0, 0, 0, 1);
  --btn-color: rgb(41, 99, 215);
  --font-color: #fff;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
  --form-box-shadow: 0 10px 10px 10px rgb(40, 40, 40, 40);
  --h2-font: 3rem;
}

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all .2s linear;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
  background-size: auto;
}

body {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/index/home-page-cover.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

section {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-info {
  width: 50%;
}

.contact-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contact-info-icon,
.contact-info-icon a {
  height: 70px;
  width: 70px;
  background-color: var(--font-color);
  color: var(--bg-color);
  text-align: center;
  border-radius: 50%;
}

.contact-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contact-info-content {
  margin-left: 20px;
}

.contact-info-content h4 {
  color: var(--font-color);
  font-size: 22px;
  margin-bottom: 5px;
}

.contact-info-content p {
  color: var(--font-color);
  font-size: 15px;
}

.contact-form {
  background-color: var(--font-color);
  border-radius: 20px;
  padding: 40px;
  width: 50%;
  padding-bottom: 20px;
  padding-top: 30px;
}

.contact-form h2 {
  font-weight: bold;
  font-size: 34px;
  margin-bottom: 10px;
  color: #333;
}

.contact-form .field input {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .field label {
  top: 50px;
  font-size: 16px;
}

.contact-form .field input,
.contact-form .field textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

#button {
  background-color: var(--bg-color);
  color: var(--font-color);
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

#button:hover {
  background-color: var(--btn-color);
  color: var(--font-color);
}

@media (max-width: 991px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .row {
    flex-direction: column;
  }

  .contact-info {
    margin-bottom: 40px;
    width: 100%;
  }

  .contact-form {
    width: 100%;
  }
}