@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900@display=swap');

:root {
    /* --bg-color: #0B0C10; */
    /* --blue: #66FCF1; */
    --bg-color: #000;
    --header-background-color: rgba(251, 251, 253, .8);
    --hover-color: rgba(0, 0, 0, 1);
    --btn-color: rgb(41, 99, 215);
    --font-color: #fff;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
    --form-box-shadow: 0 10px 10px 10px rgb(40, 40, 40, 40);
    --h2-font: 3rem;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    background-size: auto;
}

.result-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.search-title {
    padding-bottom: 50px;
}

.search-title h1 {
    text-align: left;
    font-size: 24px;
    color: var(--bg-color);
}

.search-result {
    /* Add styles for search results if needed */
}
