@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900@display=swap');

:root {
    --bg-color: #000;
    --header-background-color: #fff;
    /* Change this to white */
    --hover-color: rgba(0, 0, 0, 1);
    --btn-color: rgb(41, 99, 215);
    --font-color: #fff;
    --box-shadow: 0 .3rem 1.5rem #d9dadc;
    --h2-font: 3rem;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    background: var(--bg-color);
    background-size: auto;
}

/* styling for the services-top section */
.services-top {
    /* margin-top: 80px; */
    height: 100vh;
    background: #000;
}

.services-top .intro {
    /* height: 100vh; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('assets/images/home-page-cover.jpg');
    background-size: cover;
}

.services-top .intro h1 {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--font-color);
    font-size: 54px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}


.services-top .intro h3 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #6e6e73;
    font-size: 30px;
}

.services-top .desc {
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--font-color);
    font-size: 22px;
    text-align: justify;
}

.services-top .content {
    height: 100vh;
}