@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900@display=swap');

:root {
	/* --bg-color: #0B0C10; */
	/* --blue: #66FCF1; */
	--bg-color: #000;
	--header-background-color: rgba(251, 251, 253, .8);
	--hover-color: rgba(0, 0, 0, 1);
	--btn-color: rgb(41, 99, 215);
	--font-color: #fff;
	--box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
	--form-box-shadow: 0 10px 10px 10px rgb(40, 40, 40, 40);
	--h2-font: 3rem;
}

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	outline: none;
	border: none;
	transition: all .2s linear;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-padding-top: 5.5rem;
	scroll-behavior: smooth;
	background-size: auto;
}

.div1 {
	width: 100%;
	height: 100vh;
	background: linear-gradient(to left, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(/assets/images/services/services-cover.webp);
	background-position-y: 72%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;

}

.div1 img {
	width: 100%;
	height: 100%;
}

.div1 h1 {
	font-size: 60px;
	color: #fff;
	text-align: center;
}

.div1 h4 {
	color: #fff;
	font-size: 30px;
	color: #6e6e73;
	line-height: 80px;
}

.div1 a {
	width: 220px;
	height: 55px;
	border: none;
	color: var(--btn-color);
	font-size: 24px;
	font-weight: 550;
	border-radius: 25px;
}

.div1 .fa-chevron-right {
    color: var(--btn-color);
    font-size: 22px;
}

.div1 .fa-chevron-right:hover,
.div1 a:hover {
	letter-spacing: 1.5px;
	transition: .5s;
}

.div2 {
	width: 100%;
	height: auto;
	padding: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.div2 img {
	width: 50%;
	height: 50%;
}

.div2 h2 {
	font-size: 34px;
	color: #000;
	line-height: 80px;
	margin-top: -30px;
}

.div2 p {
	color: gray;
	line-height: 25px;
	font-size: 20px;
}

.div2 a,
.div3 a,
.div4 a,
.div5 a,
.div8 a {
	margin-top: 1rem;
    display: inline-block;
    font-size: 15px;
    color: var(--font-color);
    background: var(--bg-color);
    border-radius: .5rem;
    cursor: pointer;
    padding: 1.2rem 3rem;
}

.div2 a:hover,
.div3 a:hover,
.div4 a:hover,
.div5 a:hover,
.div8 a:hover {
	background: var(--font-color);
	color: var(--bg-color);
	border: var(--bg-color) solid 2px;
	transition: .5s;
	letter-spacing: 1.5px;
}

.div3 {
	width: 100%;
	height: auto;
	padding: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 100px;
}

.div3 img {
	width: 55%;
	height: 55%;
}

.div3 h2 {
	font-size: 34px;
	color: #000;
	line-height: 80px;
}

.div3 p {
	color: gray;
	line-height: 25px;
	font-size: 20px;
}

.div4 {
	width: 100%;
	height: auto;
	background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.70)), url(/assets/images/services/services-appdev-cover.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-y: 50%;
	background-blend-mode: darken;
	padding: 100px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.div4 h1 {
	font-size: 54px;
	color: white;

}

.div4 p {
	color: whitesmoke;
	font-size: 18px;
	padding-top: 20px;
	line-height: 24px;
}

.div5 {
	width: 100%;
	height: auto;
	padding: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 100px;
}

.div5 img {
	width: 55%;
	height: 55%;
}

.div5 h2 {
	font-size: 34px;
	color: #000;
	line-height: 80px;
}

.div5 p {
	color: gray;
	line-height: 25px;
	font-size: 20px;
}

.div6 {
	width: 100%;
	height: auto;
	padding: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 100px;
	background: var(--bg-color);
}

.div6 img {
	width: 55%;
	height: 55%;
}

.div6 h2 {
	font-size: 34px;
	color: var(--font-color);
	line-height: 80px;
}

.div6 p {
	color: var(--font-color);
	line-height: 25px;
	font-size: 20px;
}

.div6 a,
.div7 a {
	margin-top: 1rem;
    display: inline-block;
    font-size: 15px;
    color: var(--bg-color);
    background:var(--font-color);
    border-radius: .5rem;
    cursor: pointer;
    padding: 1.2rem 3rem;
}

.div6 a:hover,
.div7 a:hover {
	background: var(--bg-color);
	color: var(--font-color);
	border: var(--font-color) solid 2px;
	transition: .5s;
	letter-spacing: 1.5px;
}

.div7 {
	width: 100%;
	height: auto;
	padding: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 100px;
	background: var(--bg-color);
}

.div7 img {
	width: 55%;
	height: 55%;
}

.div7 h2 {
	font-size: 34px;
	color: var(--font-color);
	line-height: 80px;
}

.div7 p {
	color: var(--font-color);
	line-height: 25px;
	font-size: 20px;
}

.div8 {
	width: 100%;
	height: auto;
	background: whitesmoke;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 80px;
}

.div8 h2 {
	font-size: 34px;
	color: #1e1e1e;
	line-height: 80px;
}

.div8 p {
	color: gray;
	font-size: 18px;
	line-height: 25px;
}

.div8 img {
	width: 100%;
	border-radius: 5%;
	height: 100%;
	justify-content: center;
	margin-top: 30px;
}

.div9 {
	width: 100%;
	height: auto;
	background: #151515;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 80px;
}

.div9 h3 {
	color: #fff;
	font-size: 34px;
}

.div9 p {
	color: whitesmoke;
	padding-top: 30px;
	font-size: 18px;
}

.div10 {
	width: 100%;
	height: auto;
	background: #141414;
	display: flex;
}

.div10 div {
	width: 25%;
	height: auto;
}

.div10 div img {
	width: 100%;
	height: 100%;
}

.div9 {
	width: 100%;
	height: auto;
	align-items: center;
	padding: 80px;
	display: flex;
	justify-content: space-between;
}

.div9 h1 {
	font-size: 18px;
}

.div9 button {
	width: 200px;
	height: 50px;
	background: #000000;
	border: none;
	color: #fff;
	font-size: 14px;
	font-weight: 550;
	transition: .5s;
}

.div9 button:hover {
	background: #fff;
	color: #000;
	border: #000 solid 2px;
	transition: .5s;
}

.div10 {
	width: 100%;
	height: auto;
	background: #141414;
	display: flex;
}

.div10 div {
	width: 25%;
	height: auto;
}

.div10 div img {
	width: 100%;
	height: 100%;
}

.div11 {
	width: 100%;
	height: auto;
	background: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.70)), url(/assets/images/services/services-vision-cover.webp);
	background-repeat: no-repeat;

	background-size: cover;
	background-position-y: 60%;
	padding: 100px;
}

.div11 h2 {
	color: #fff;
	text-align: center;
	font-size: 34px;
}

.div11 h3 {
	color: #fff;
	text-align: center;
	padding-top: 20px;
	font-size: 28px;
	letter-spacing: 1.5px;
}

.div11 p {
	color: whitesmoke;
	font-size: 18px;
	padding-top: 30px;
	text-align: center;
	line-height: 20px;
}

.div11 img {
	width: 8%;
	height: 8%;
	border-radius: 100%;
	margin-top: 30px;
}

.div12 {
	width: 100%;
	height: auto;
	align-items: center;
	padding: 80px;
	display: flex;
	justify-content: space-between;
}

.div12 h1 {
	font-size: 18px;
}

.div12 a {
	margin-top: 1rem;
    display: inline-block;
    font-size: 15px;
    color: var(--font-color);
    background: var(--bg-color);
    border-radius: .5rem;
    cursor: pointer;
    padding: 1.2rem 3rem;
}

.div12 a:hover {
	background: var(--font-color);
	color: var(--bg-color);
	border: var(--bg-color) solid 2px;
	transition: .5s;
	letter-spacing: 1.5px;
}

/*		media query*/



@media (max-width: 650px) {
	.nav {
		display: block;
	}

	.nav ul {
		display: block;
	}

	.div2 {
		display: inline;
		text-align: center;
	}

	.div2 img {
		width: 80%;
		height: 80%;
	}

	.div3 {
		display: inline;
		text-align: center;
		padding-top: 200px;
	}

	.div3 img {
		width: 80%;
		height: 80%;
		margin-left: 50px;
	}

	.div4 {
		width: 100%;
	}

	.div4 h1 {
		font-size: 50px;
	}

	.div6 {
		padding: 10px;
	}

	.div6 h2 {
		font-size: 35px;
		color: #1e1e1e;
		line-height: 45px;
	}

	.div6 {
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.div7 div {
		width: 100%;
		height: auto;
	}

	.div8 {
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.div9 {
		display: inline;
		text-align: center;
	}

	.div9 button {
		margin-left: 200px;
		margin-top: 20px;
		margin-bottom: 50px;
	}

	.div10 {
		display: inline;
		text-align: center;
		height: 100px;
	}
}

@media (max-width: 500px) {
	.div9 button {
		margin-left: 120px;
	}
}

@media (max-width: 400px) {
	.nav {
		display: block;
	}

	.nav ul {
		display: block;
	}

	.div1 h1 {
		font-size: 45px;
		margin-left: -15%;
	}

	.div1 h4 {
		line-height: 40px;
		margin-top: 30px;
		margin-left: -15%;
	}

	button {
		width: 220px;
		height: 55px;
		background: #000000;
		border: none;
		color: #fff;
		font-size: 14px;
		font-weight: 550;
		margin-top: 20px;
		margin-left: -10%;
	}

	.div2 img {
		width: 80%;
		height: 80%;
		margin-left: -10%;
	}

	.div3 img {
		width: 80%;
		height: 80%;
		margin-left: 20px;
		margin-top: 10%;
	}

	.div4 {
		padding-top: 100px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 100px;
	}

	.div4 button {
		margin-left: 10px;
	}

	.div9 button {
		margin-left: 80px;
	}
}

@media (max-width: 330px) {
	.div1 {
		width: 100%;
		padding: 10px;
	}

	.div1 h1 {
		font-size: 40px;
		margin-left: 10px;
	}

	.div1 h4 {
		line-height: 30px;
		margin-top: 30px;
		margin-left: 10px;
	}

	button {
		width: 220px;
		height: 55px;
		background: #000000;
		border: none;
		color: #fff;
		font-size: 14px;
		font-weight: 550;
		margin-top: 20px;
		margin-left: 10px;
	}

	.div2 {
		width: 80%;
	}

	.div2 img {
		margin-left: -15%;
	}

	.div2 button {
		margin-left: 10%;
	}

	.div3 img {
		margin-left: 40px;
	}

	.div9 button {
		margin-left: 50px;
	}
}

@media (max-width: 300px) {
	.div1 h1 {
		font-size: 40px;
	}

	.div1 h4 {
		line-height: 30px;
		margin-top: 30px;
	}

	button {
		width: 220px;
		height: 55px;
		background: #000000;
		border: none;
		color: #fff;
		font-size: 14px;
		font-weight: 550;
		margin-top: 20px;
	}
}