@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900@display=swap');

:root {
    /* --bg-color: #0B0C10; */
    /* --blue: #66FCF1; */
    --bg-color: #000;
    --header-background-color: rgba(251, 251, 253, .8);
    --hover-color: rgba(0, 0, 0, 1);
    --btn-color: rgb(41, 99, 215);
    --font-color: #fff;
    --box-shadow: 0 .3rem 1.5rem #d9dadc;
    --form-box-shadow: 0 10px 10px 10px rgb(40, 40, 40, 40);
    --h2-font: 3rem;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    /* background: var(--bg-color); */
    background-size: auto;
}

/* Header */
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: var(--header-background-color);
    backdrop-filter: saturate(180%) blur(20px);
    padding: 1.8rem 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    /* box-shadow: var(--box-shadow); */
}

header .logo {
    letter-spacing: .5rem;
    font-display: swap;
    color: rgba(0, 0, 0, .8);
    font-size: 22px;
    font-weight: bolder;
}

header .logo i {
    color: var(--hover-color);
}

header .navbar a {
    font-size: 15px;
    font-weight: 300;
    border-radius: .5rem;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, .8);
}

header .navbar a.active,
header .navbar a:hover {
    color: var(--hover-color);
}

header .icons i,
header .icons a {
    display: flexbox;
    cursor: pointer;
    margin: .5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    font-size: 15px;
    color: rgba(0, 0, 0, .6);
    border-radius: 50%;
    /* background: var(--header-background-color); */
    margin-right: 1.5rem;
}

header .icons i:hover,
header .icons a:hover {
    color: var(--hover-color);
}

header .icons #menu-bars {
    display: none;
}

/* Search form */
#search-form {
    position: fixed;
    top: -110%;
    left: 0;
    height: 85%;
    width: 100%;
    z-index: 1004;
    background: rgb(40, 40, 40);
    /* background: transparent;
    backdrop-filter: blur(20px); */
    box-shadow: var(--form-box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
}

#search-form.active {
    top: 0;
}

#search-form #search-box {
    width: 50rem;
    border-bottom: .1rem solid var(--header-background-color);
    padding: 1rem 0;
    color: #fff;
    font-size: 3rem;
    text-transform: none;
    background: none;
}

#search-form #search-box::placeholder {
    color: #eee;
}

#search-form #search-box::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

#search-form label{
    color: #fff;
    font-size: 2rem;
}

#search-form label:hover {
    color: #fff;
}

#search-form #search-form-close {
    position: absolute;
    color: var(--header-background-color);
    cursor: pointer;
    top: 2.5rem;
    right: 3rem;
    font-size: 20px;
}

.home {
    margin-top: 80px;
    height: 100vh;
    background: #000;
}

.intro {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('/assets/images/home-page-cover.jpg');
    background-size: cover;
}

.home .intro h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--font-color);
    font-size: 54px;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.home .intro h3 {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #6e6e73;
    font-size: 30px;
}

.home .intro a {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--btn-color);
    font-size: 27px;
}

.home-about .fa-chevron-right,
.home .intro .fa-chevron-right {
    color: var(--btn-color);
    font-size: 20px;
}

.home-about a:hover,
.home-about .fa-chevron-right:hover,
.home .intro a:hover,
.home .intro .fa-chevron-right:hover {
    letter-spacing: 0.1rem;
}

.home .content {
    height: 100vh;
    color: black;
}

.home .content h1 {
    padding-top: 80px;
    text-align: center;
    font-size: 38px;
    padding-bottom: 99px;
}

.home .content .flex-container {
    padding-top: .3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.home .content .flex-container .flex-box1,
.home .content .flex-container .flex-box2,
.home .content .flex-container .flex-box3,
.home .content .flex-container .flex-box4 {
    padding: 13.5rem;
    background: #fff;
    color: var(--font-color);
    background-size: cover;
    border-radius: 2rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
    outline: none;
    border: none;
    font-size: 20px
}

.home .content .flex-container .flex-box1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('/assets/images/web-development-service-home.jpg');
}

.home .content .flex-container .flex-box2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('/assets/images/video-animation-service-home.jpg');
}

.home .content .flex-container .flex-box3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('/assets/images/app-development-service-home.jpg');
}

.home .content .flex-container .flex-box4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('/assets/images/graphic-design-service-home.jpg');
}

.home .content .flex-container .flex-box1 h3,
.home .content .flex-container .flex-box2 h3,
.home .content .flex-container .flex-box3 h3,
.home .content .flex-container .flex-box4 h3 {
    color: var(--font-color);
    font-size: 28px;
}

.home .content .flex-container .flex-box1 p,
.home .content .flex-container .flex-box2 p,
.home .content .flex-container .flex-box3 p,
.home .content .flex-container .flex-box4 p {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.9rem;
    color: #d3d3d8;
    border-radius: .5rem;
    padding: .8rem 3rem;
}

.home .content .flex-container .btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: var(--btn-color);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.home .content .flex-container .btn:hover {
    background: var(--box-shadow);
    letter-spacing: .1rem;
}

.home .home-about {
    margin-top: 570px;
    height: 100vh;
    /* background: #000; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url('/assets/images/home-page-cover.jpg');
    background-size: cover;
}

.home .home-about .heading {
    position: absolute;
    top: 340%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--font-color);
    font-size: 38px;
}

.home .home-about h3 {
    position: absolute;
    top: 358%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--font-color);
    font-size: 27px;
    text-align: center;
}

.home .home-about a {
    position: absolute;
    top: 378%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--btn-color);
    font-size: 27px;
}

.home .progress {
    height: 70vh;
    color: var(--bg-color);
}

.home .progress .flex-container {
    padding-top: .3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.home .progress .flex-container .flex-box1,
.home .progress .flex-container .flex-box2,
.home .progress .flex-container .flex-box3 {
    top: 95px;
    padding: 5rem;
    color: var(--bg-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .4);
    background: #fff;
    backdrop-filter: blur(20px);
    background-size: cover;
    border-radius: 2rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    outline: none;
    border: none;
    font-size: 20px
}

.home .progress .flex-container .flex-box1 h1,
.home .progress .flex-container .flex-box2 h1,
.home .progress .flex-container .flex-box3 h1 {
    padding-top: 10px;
    color: var(--bg-color);
    font-size: 20px;
}

.home .progress .flex-container .flex-box1 p,
.home .progress .flex-container .flex-box2 p,
.home .progress .flex-container .flex-box3 p {
    margin-top: 1rem;
    display: inline-block;
    text-align: center;
    font-size: 37px;
    color: var(--bg-color);
    border-radius: .5rem;
    padding: .8rem 3rem;
}

.home .customers-review {
    height: 100vh;
    background: #000;
    color: var(--font-color);
}

.home .customers-review .heading {
    position: absolute;
    top: 498%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--font-color);
    font-size: 38px;
}

.home .customers-review .flex-container {
    padding-top: .3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.home .customers-review .flex-container .flex-box1,
.home .customers-review .flex-container .flex-box2,
.home .customers-review .flex-container .flex-box3 {
    top: 155px;
    padding: 4rem;
    color: var(--bg-color);
    box-shadow: 0 5px 10px rgba(174, 174, 174, 0.639);
    background: #e6e6e6;
    backdrop-filter: blur(20px);
    background-size: cover;
    border-radius: 2rem;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    position: relative;
    overflow: hidden;
    text-align: center;
    outline: none;
    border: none;
    font-size: 20px
}

.home .customers-review .flex-container .flex-box1 h1,
.home .customers-review .flex-container .flex-box2 h1,
.home .customers-review .flex-container .flex-box3 h1 {
    padding-top: 10px;
    color: var(--bg-color);
    font-size: 18px;
}

.home .customers-review .flex-container .flex-box1 h3,
.home .customers-review .flex-container .flex-box2 h3,
.home .customers-review .flex-container .flex-box3 h3 {
    color: var(--bg-color);
    font-size: 15px;
}

.home .customers-review .flex-container .flex-box1 p,
.home .customers-review .flex-container .flex-box2 p,
.home .customers-review .flex-container .flex-box3 p {
    margin-top: 1rem;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    color: var(--bg-color);
    border-radius: .5rem;
    padding: .8rem 3rem;
}

/* Footer */
footer {
    width: 100%;
    height: auto;
    background: var(--header-background-color);
    display: flex;
    justify-content: center;
    background: #f5f5f7;
    position: absolute;
    bottom: -3350px;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 18px;
}

.footer_wrapper {
    width: 970px;
}

.footer_wrapper ul {
    font-size: 12px;
    list-style: none;
    color: #6e6e73;
    border-bottom: 1px solid var(--bg-color);
}

.footer_wrapper ul li {
    margin: 15px 0;
    letter-spacing: 0.1px;
}

.footer_links {
    width: 100%;
    display: flex;
}

.footer_links_column {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.footer_links_column_title {
    font-weight: 400;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 13px;
    letter-spacing: .5px;
}

.footer_links_column_title span {
    font-size: 22px;
}

.footer_links_column .content {
    font-size: 12px;
}

.footer_links_column a {
    color: rgba(0, 0, 0, .8);
    font-size: 12px;
    margin-bottom: 12px;
}

.footer-copyright {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: rgba(0, 0, 0, .8);
    margin-top: 4px;
    position: relative;
}

hr {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #707793;
    margin: 20px auto;
}


/* Media queries */

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 1rem 2rem;
    }

    .home .content .flex-container {
        height: auto;
        border-radius: 4rem;
        width: 100%;
    }

}


/* For Tablets */

@media (max-width: 768px) {

    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    #search-form #search-box {
        width: 90%;
        margin: 0 1rem;
    }

    #search-form #close {
        top: 8rem;
    }

    .home-content {
        max-width: 990px;
        padding-left: 3rem;
    }

    .home .intro h1 {
        font-size: 21.3px;
    }

    .home .intro h3 {
        top: 58%;
        font-size: 16.5px;
    }

    .home .intro a {
        font-size: 15px;
        top: 65%;
    }

    .home .intro .fa-chevron-right {
        font-size: 15px;
    }

    .home .content h1 {
        font-size: 21.3px;
    }

    .home .content .flex-container {
        padding-top: 0.5rem;
    }

    .home .content .flex-container .flex-box1 h3,
    .home .content .flex-container .flex-box2 h3,
    .home .content .flex-container .flex-box3 h3,
    .home .content .flex-container .flex-box4 h3 {
        font-size: 21.3px;
    }

    .home .content .flex-container .flex-box1 p,
    .home .content .flex-container .flex-box2 p,
    .home .content .flex-container .flex-box3 p,
    .home .content .flex-container .flex-box4 p {
        font-size: 16.5px;
    }

    footer {
        bottom: -2480px;
    }

    .footer_wrapper {
        width: 450px;
    }

    .footer_links_column_title span {
        font-size: 18px;
    }
    
    .footer_links_column .content {
        font-size: 10px;
    }

}


/* For Smart Phones */

@media (max-width: 428px) {

    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    #search-form #search-box {
        width: 90%;
        margin: 0 1rem;
    }

    #search-form #close {
        top: 8rem;
    }

    .home {
        margin-top: 55px;
    }
    
    .intro {
        background-size: cover;
    }

    .home-content {
        max-width: 990px;
        padding-left: 3rem;
    }

    .home .intro h1 {
        font-size: 35.6px;
    }

    .home .intro h3 {
        top: 62%;
        font-size: 28.67px;
    }

    .home .intro a {
        font-size: 24px;
        top: 72%;
    }

    .home .intro .fa-chevron-right {
        font-size: 24px;
    }

    .home .content h1 {
        font-size: 28.67px;
    }

    .home .content .flex-container {
        padding-top: 0.5rem;
    }

    .home .content .flex-container .flex-box1 h3,
    .home .content .flex-container .flex-box2 h3,
    .home .content .flex-container .flex-box3 h3,
    .home .content .flex-container .flex-box4 h3 {
        font-size: 24px;
    }

    .home .content .flex-container .flex-box1 p,
    .home .content .flex-container .flex-box2 p,
    .home .content .flex-container .flex-box3 p,
    .home .content .flex-container .flex-box4 p {
        font-size: 15px;
    }

    footer {
        bottom: -2780px;
    }

    .footer_wrapper {
        width: 350px;
    }

    .footer_links_column_title span {
        font-size: 18px;
    }
    
    .footer_links_column .content {
        font-size: 9px;
    }

}

@media (max-width: 414px) {

    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    #search-form #search-box {
        width: 90%;
        margin: 0 1rem;
    }

    #search-form #close {
        top: 8rem;
    }

    .home {
        margin-top: 55px;
    }
    
    .intro {
        background-size: cover;
    }

    .home-content {
        max-width: 990px;
        padding-left: 3rem;
    }

    .home .intro h1 {
        font-size: 33.9px;
    }

    .home .intro h3 {
        top: 64%;
        font-size: 27.8px;
    }

    .home .intro a {
        font-size: 22px;
        top: 74%;
    }

    .home .intro .fa-chevron-right {
        font-size: 22px;
    }

    .home .content h1 {
        font-size: 27.8px;
    }

    .home .content .flex-container {
        padding-top: 0.5rem;
    }

    .home .content .flex-container .flex-box1 h3,
    .home .content .flex-container .flex-box2 h3,
    .home .content .flex-container .flex-box3 h3,
    .home .content .flex-container .flex-box4 h3 {
        font-size: 24px;
    }

    .home .content .flex-container .flex-box1 p,
    .home .content .flex-container .flex-box2 p,
    .home .content .flex-container .flex-box3 p,
    .home .content .flex-container .flex-box4 p {
        font-size: 16px;
    }

    footer {
        bottom: -2930px;
    }

    .footer_wrapper {
        width: 350px;
    }

    .footer_links_column_title span {
        font-size: 18px;
    }
    
    .footer_links_column .content {
        font-size: 9px;
    }

}

@media (max-width: 360px) {

    header .icons #menu-bars {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        border-bottom: .1rem solid rgba(0, 0, 0, .2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: #eee;
    }

    #search-form #search-box {
        width: 90%;
        margin: 0 1rem;
    }

    #search-form #close {
        top: 8rem;
    }

    .home {
        margin-top: 55px;
    }

    .home-content {
        max-width: 990px;
        padding-left: 3rem;
    }

    .home .intro h1 {
        font-size: 15.8px;
    }

    .home .intro h3 {
        top: 53%;
        font-size: 12.34px;
    }

    .home .intro a {
        font-size: 12.34px;
        top: 58%;
    }

    .home .intro .fa-chevron-right {
        font-size: 12.34px;
    }

    .home .content h1 {
        font-size: 18.6px;
    }

    .home .content .flex-container {
        padding-top: 0.5rem;
    }

    .home .content .flex-container .flex-box1 h3,
    .home .content .flex-container .flex-box2 h3,
    .home .content .flex-container .flex-box3 h3,
    .home .content .flex-container .flex-box4 h3 {
        font-size: 15.3px;
    }

    .home .content .flex-container .flex-box1 p,
    .home .content .flex-container .flex-box2 p,
    .home .content .flex-container .flex-box3 p,
    .home .content .flex-container .flex-box4 p {
        font-size: 10.5px;
    }

    footer {
        bottom: -3050px;
    }

    .footer_wrapper {
        width: 300px;
    }

    .footer_links_column_title span {
        font-size: 15px;
    }
    
    .footer_links_column .content {
        font-size: 9px;
    }

}