  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600;700&display=swap');

  * {
      margin: 0px;
      padding: 0px;
      font-family: 'Poppins', sans-serif;
  }

  .arrow {
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      background-color: red;
      position: sticky;

      z-index: 30;
  }

  /*border: 2px solid yellow;*/
  .main {
      width: 100%;
      height: auto;
      /*background-color:#0a153c;*/
      background-color: black;
  }

  .container-one {
      width: 100%;
      height: 4rem;
      /* background-color:#040817;*/
      background-color: black;
      opacity: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      /*background-image: linear-gradient(0deg ,aqua 0.1%,transparent,transparent,transparent,transparent);
*/
  }

  .primary-navi {
      width: 85%;
      height: 100%;
      display: flex;
      flex-direction: row;
  }

  .pNavi-left {
      width: 30%;
      height: 100%;
  }

  .Logo {
      height: 100%;
  }

  .pNavi-right {
      width: 70%;
      height: 100%;
      align-items: center;

  }

  .links {
      padding-top: 1rem;
      color: white;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-evenly;
      list-style: none;

  }

  .links li:hover {
      color: aqua;
      cursor: pointer;
  }

  #bars,
  #close {
      display: none;
  }

  .container-two {
      width: 100%;
      height: 2rem;
      background-color: transparent;
      z-index: 4;
      display: flex;
      justify-content: center;
      /*  background-image: linear-gradient(180deg ,black,aqua 0.1%,transparent,transparent,transparent);
*/
      position: sticky;
      top: 0;


  }

  .secondary-navi {
      width: 60%;
      height: 2rem;
      /*background-color: #040817;*/
      background-color: rgb(32, 32, 32);
      border-radius: 30px;
      box-shadow: 0px 2px 10px 5px aqua;
  }

  .secondary-navi ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      list-style: none;
      color: rgb(201, 198, 198);
  }

  .secondary-navi a {
      color: white;
      text-decoration: none;
  }

  .secondary-navi a:hover {
      color: orange;
  }

  .secondary-navi a:active {
      color: orange;
  }

  @media only screen and (max-width: 600px) {
      .secondary-navi {
          width: 100%;
      }

      .lk {
          display: none;
      }

      #bars {
          display: block;
      }

      .links {
          justify-content: flex-end;
      }

      .container-two {
          background-image: linear-gradient(180deg, black, aqua 0.1%, transparent, transparent, transparent);

      }

  }

  .container-three {
      width: 100%;
      height: calc(100vh - 6rem);
      display: flex;
      justify-content: center;
      background: rgb(4, 8, 23);
      /* background: linear-gradient(0deg, rgba(4,8,23,1) 29%, rgba(10,21,60,1) 49%);*/
      background: linear-gradient(0deg, rgb(0, 0, 0) 29%, rgb(22, 22, 22) 49%);
  }

  .firstlook {
      margin: 2rem;
      width: 78%;
      height: 100%;
      display: flex;
      background-color: transparent;
      flex-direction: row;
      justify-content: flex-start;
  }

  .firstlook-left {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .firstlook-text {
      width: 100%;
      height: 60%;
      color: aqua;
      font-size: 3rem;
      line-height: 5rem;
  }

  .firstlook-button {
      width: 100%;
      height: 30%;
  }


  .firstlook-header {
      color: rgb(255, 255, 255);
  }


  .firstlook-button {
      margin-top: 3rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
  }

  .firstBtn {
      width: 17rem;
      height: 3.5rem;
      text-decoration: none;
      border-radius: 30px;
      background-color: aqua;
      color: black;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .firstBtn:hover {
      color: rgb(255, 255, 255);
      background-color: rgb(0, 0, 0);
      box-shadow: 0px 2px 10px 5px aqua;
  }




  .firstlook-right {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

  }

  .firstlook-right img {
      width: 25rem;
      height: auto;
      margin-top: 2rem;

  }

  @media only screen and (max-width: 900px) and (min-width: 600px) {
      .firstlook-text {
          width: 100%;
          height: 60%;
          color: aqua;
          font-size: 2rem;
          line-height: 3.32rem;
      }

      .firstlook {
          width: 90%;
      }

      .firstBtn {
          width: 11rem;
          height: 2.31rem;
      }

      .firstlook-button {
          margin-top: 1.98rem;
      }

  }

  @media only screen and (max-width: 600px) {
      .firstlook-text {
          width: 100%;
          height: 60%;
          color: aqua;
          font-size: 2rem;
          line-height: 3.32rem;
      }

      .firstlook-text h1 {
          text-align: center;
      }

      .firstlook {
          width: 98%;
          display: flex;
          flex-direction: column;
          align-items: center;

      }

      .firstlook-left,
      .firstlook-right {
          width: 100%;

      }

      .firstBtn {
          width: 12rem;
          height: 2.5rem;
      }

      .firstlook-button {
          justify-content: center;
          margin-top: 2rem;
      }
  }


  .container-four {
      width: 100%;
      height: auto;
      background-color: rgb(56, 55, 55);
      display: flex;
      justify-content: center;
      overflow-x: hidden;

  }

  .maincnt {
      width: 80%;
      height: auto;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 1rem;

  }

  [class*="-count"] {
      width: 15rem;
      height: 15rem;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      color: white;
      line-height: 1.3rem;
      /* border: 2px solid yellow;*/
  }

  [class*="-counter"] {
      font-size: 3rem;
      font-weight: 700;
      display: flex;
      border: none;
      height: 30%;
  }

  #icon {
      font-size: 3rem;
      color: rgb(138, 138, 138);
  }

  .container-five {
      width: 100%;
      height: auto;
  }

  .trustedBy {
      width: 100%;
      height: auto;
      background-color: rgb(168, 167, 167);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;


  }

  .trustedBy img {
      width: 2rem;
      filter: grayscale(100%);
      margin: 1rem;
  }



  .container-six {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      /*   background: rgb(4,8,23);
background: linear-gradient(0deg, rgba(4,8,23,1) 29%, rgba(10,21,60,1) 49%);
*/
      /*background: linear-gradient(0deg, rgb(0, 0, 0) 29%, rgb(22, 22, 22) 49%);
*/
      background-color: rgb(104, 104, 104);
      background: linear-gradient(0deg, rgb(0, 0, 0) 29%, rgb(22, 22, 22) 49%);



  }

  .pricing {
      width: 85%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      margin: 4rem;

  }

  [class*="-pack"] {
      padding: 1rem;
      height: 34rem;
      width: 18rem;
      background-color: rgb(0, 0, 0);
      /*border-radius: 30px;*/
      /* overflow: hidden;*/
      background: rgb(189, 189, 189);
      background: linear-gradient(42deg, rgba(189, 189, 189, 0.7217261904761905) 0%, rgba(255, 254, 254, 1) 49%, rgba(167, 167, 167, 1) 100%);
      margin-bottom: 2rem;
  }

  /*[class*="-pack"]:hover{
box-shadow:0px 1px 10px 5px rgb(31, 31, 31) ;
scale: 1.01;
cursor: pointer;
z-index: 0;
}*/
  .header,
  .price {
      font-weight: 200;
      position: relative;
      transform: translateY(2rem);
  }

  .price {
      line-height: 4rem;
  }

  .advanced-pack .header {
      position: relative;
      transform: translate(-4rem, 2rem);
  }

  .ribbon {
      display: inline;
      position: relative;
      width: auto;
      height: auto;
      background-color: gold;
      float: left;
      z-index: 3;
      box-shadow: 0px 1px 10px 0.5px rgb(0, 0, 0);
      border-radius: 0xp, 0px, 10px, 0px;
      /* transform: translate(0rem,-2rem);*/
      font-weight: 300;
  }

  .price {
      font-weight: 600;


  }

  /*.advanced-pack .header{
    position: relative;
    transform: translate(-3.8rem,1.5rem);
}
.advanced-pack .price{
    position: relative;
    transform: translate(0rem,1.5rem);
}*/
  /*.id4{
    position: relative;
    transform: translate(-1rem,12.0rem);
    width: 15rem;
    height:2rem;
    background: rgb(4,8,23);
background: linear-gradient(40deg, rgba(4,8,23,1) 29%, rgba(19,38,108,1) 49%);
}.id1{
    position: relative;
    transform: translate(-1rem,12.0rem);
    width: 15rem;
    height:2rem;
    background: rgb(4,8,23);
    background: linear-gradient(40deg, rgba(4,8,23,1) 29%, rgba(13,27,79,1) 49%);
}.id3{
        position: relative;
        transform: translate(-1rem,10.3rem);
        width: 15rem;
        height:2rem;
        background: rgb(201,167,0);
        background: linear-gradient(42deg, rgba(201,167,0,0.7217261904761905) 29%, rgba(228,208,36,1) 49%, rgba(251,248,95,1) 73%);    }

    .id2{
        position: relative;
        transform: translate(-1rem,12.0rem);
        width: 15rem;
        height:2rem;
        background: rgb(4,8,23);
        background: linear-gradient(40deg, rgba(4,8,23,1) 29%, rgba(19,38,108,1) 49%);    }
*/
  .header ul li {
      border-color: 1px solid grey;
  }

  .text {
      position: relative;
      transform: translate(0rem, 2rem);
      font-weight: 300;
      border-bottom: 1px solid rgb(209, 209, 209);
      padding-bottom: 1rem;
  }

  .id {
      padding-top: 1rem;
      position: relative;
      transform: translate(1rem, 2rem);

  }

  .id ul {
      list-style-type: none;
      line-height: 2rem;
  }

  .price-btn {
      margin: 2rem;
      width: 10rem;
      height: auto;
      background-color: black;
      border: none;
      color: white;
      padding: 0.5rem 1rem 0.5rem 1rem;
      cursor: pointer;
  }

  .price-btn:hover {
      scale: 1.01;
  }

  .growth-pack .price-btn {
      transform: translateY(6rem);
  }

  .ultimate-pack .price-btn {
      transform: translateY(4.2rem);
  }